<div id="search" class="search-box">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="inputSearch"/>
		<div class="search-icon">
			<ion-icon name="search-outline">
				<button type="button"></button>
			</ion-icon>
		</div>
    	<div class="cancel-icon">
		<ion-icon name="close-outline"></ion-icon>
	</div>
	<div class="search-data"></div>
</div>